<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register a dataset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="text-center pt-2 mb-5">Dataset registration</h1>
    <div class="container px-5">
        <form action="#" th:action="@{/register}" th:object="${metadata_form}" id="metadata-form" enctype="multipart/form-data" method="post">
            <div class="mb-3 g-3 row">
                <div class="col-8">
                    <label class="form-label" for="csv">Upload dataset</label>
                    <input type="file" class="form-control" id="csv" accept=".csv" name="file" th:field="*{file}">
                </div>
                <div class="col-4">
                    <label for="separator" class="form-label">Separator</label>
                    <select id="separator" class="form-select" th:field="*{separator}">
                        <option value="," selected>Comma (,)</option>
                        <option value=";">Semicolon (;)</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label" for="column-1">Column 1's type</label>
                <div class="col-10">
                    <select id="column-1" class="form-select" th:field="*{columnsTypes[0]}">
                        <optgroup label="String">
                            <option value="text" selected>Text</option>
                        </optgroup>
                        <optgroup label="Numeric">
                            <option value="boolean">Boolean</option>
                            <option value="integer">Integer</option>
                            <option value="double">Double</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="mb-3" id="add-button-class">
                <button id="add-field" class="btn btn-secondary btn-sm" type="button">Add Field</button>
                <button id="delete-field" class="btn btn-secondary btn-sm" type="button">Delete Field</button>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let counter = 1;
            const addButton = document.getElementById('add-field');
            const addButtonClass = document.getElementById('add-button-class');
            const form = document.getElementById('metadata-form');
            const deleteButton = document.getElementById('delete-field');
            addButton.addEventListener('click', function() {
                counter++;
                const newField = document.createElement('div');
                newField.className = 'mb-3 row';
                newField.innerHTML = `
                <label class="col-2 col-form-label" for="column-${counter}">Column ${counter}'s type</label>
                <div class="col-10">
                    <select class="form-select col" id="column-${counter}" name="columnsTypes[${counter - 1}]">
                        <optgroup label="String">
                            <option value="text" selected>Text</option>
                        </optgroup>
                        <optgroup label="Numeric">
                            <option value="boolean">Boolean</option>
                            <option value="integer">Integer</option>
                            <option value="double">Double</option>
                        </optgroup>
                    </select>
                </div>
            `;
                form.insertBefore(newField, addButtonClass);
            });
            deleteButton.addEventListener('click', function() {
                if (counter > 1) {
                    counter--;
                    form.removeChild(form.children[form.children.length - 3]);
                }
            });
        });
    </script>
</body>
</html>